<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="myJob"></property>
        <property name="group" value="g1"></property>
        <property name="jobClass" value="com.baizhi.job.MyJob"></property>
        <property name="durability" value="true"></property>
    </bean>
    <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="myTrigger"></property>
        <property name="group" value="g1"></property>
        <property name="cronExpression" value="0/5 * * * * ? *"></property>
        <property name="jobDetail" ref="jobDetail"></property>
    </bean>
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation" value="classpath:quartz.properties"></property>
        <property name="triggers">
            <list>
                <ref bean="trigger"></ref>
            </list>
        </property>
    </bean>
</beans>